@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1>Welcome to StarTED Webapp</h1>
    <h2>A03: Programs</h2>
    <h3>Pages</h3>
    <p><b>Query Page:</b> On this page I will display multiple rows of data in an HTML table</p>
    <p><b>CRUD Page:</b> On this page I will provide means to
        <ul>
            <li><b>Insert</b> new rows of data into a table</li>
            <li><b>Update</b> an existing row of data in a table</li>
            <li><b>Delete</b> (or mark as inactive/not current) a row of data in a table</li>
            <li><b>Cancel</b> editing and return them to Query page.</li>
        </ul>
    </p>

    <h3>Known Bugs</h3>

    <p>I will use this section to keep track of all my bugs</p>

    <p>Currently, there are no known bugs.</p>

    <h3>Entity Relationship Diagram</h3>

    <p>This ERD is for scenario 3.</p>

    <img src="~/img/A03.png" alt="ERD for scenario 3"/>

    <h3>Site Styling</h3>

    <p>I am using Holiday to style my webapp.</p>


</div>
